[Desktop Entry]
Name=LibreSlicer G-code Viewer
Exec=libreslicer --gcodeviewer %F
Icon=LibreSlicer-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
StartupNotify=false
